.edituser-page{
    .header-nav-div {
        margin-bottom: 50px;
    }
    
    .input-div {
        transform: translate(-20px);
    }

    .edit-email {
        transform: translate(30px);
    }

    .edit-name {
        transform: translate(38px);
    }
}
