.groupchat-page {
    transform: translate(0, 100px);

    .header-nav-div {
        border: 2px solid black;
        text-align: center;
        padding-top: 5px;
        margin-left: 0px;
    }
    
    .button-close {
        border: 2px solid black;
        width: 30px;
        height: 30px;
        font-weight: bold;
        float: right;
        margin-right: 8px;
        margin-top: 2px;

        cursor: pointer;
    }
    
    .header-label {
        display: inline-block;
    }
    
    .chat-history {
        padding-top: 25px;
        padding-left: 7px;
        border: 2px solid black;
        border-top: 0px;
        height: 350px;
        overflow: auto;
        overflow-x: auto;
        display: flex;
        flex-direction: column-reverse;

    }

    .center {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .message-content {
        border: 2px solid black;
        border-top: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        text-align: center;
    }
    
    .input-text {
        margin-left: 10px;
        width: 70%;
        margin-right: 10px;
        height: 25px;
    }
    
    .button-primary {
        margin-top: 5px;
    }
    
    .button-chat-div {
        display: inline-block;
    }
    
    .send {
        margin-right: 3px;
    };

}
